.card {
  width: 30%;
  padding: 20px;
  background-color: transparent;
  border: none;
  position: relative;
  border-radius: 5px;
}

// .card-image {
//   z-index: -1;
//   position: absolute;
//   width: 100%;
//   opacity: 0.5;
//   border-radius: 5px;
// }